.Skills {
  margin: auto;
  color: rgba(251, 243, 238);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 0 100px 0;
}

.Skills p {
  font-size: 1em;
}

@media (max-width: 760px) {
  .Skills p {
    font-size: small;
  }
  .Skills h2 {
    font-size: larger;
  }
}
