.WelcomeElements {
  position: relative;
  margin: 40vh auto auto auto;
  color: #474747;
  max-width: 400px;
  border-radius: 20%;
  display: inline-flex;
  text-align: center;
}

.Background {
  border-bottom: 4px solid #474747;
  position: absolute;
  border-radius: 50px 20px 50px 50px;
  margin: 10px 0 0 30px;
  width: 350px;
  height: 130px;
  min-width: 100px;
  background: rgba(251, 243, 238, 0.5);
}

.ProfileImage {
  margin: auto;
  z-index: 1;
  border-radius: 50%;
  border-right: 4px solid #474747;
  border-bottom: 4px solid #474747;
  width: 150px;
  height: auto;
}

.TitleGroup {
  z-index: 2;
  padding: 20px 0 0 20px;
}

.LinkIcons {
  margin: 10px 0px 0px 0;
}

.LinkIcons img {
  height: 40px;
  width: auto;
  padding: 5px 10px 15px 10px;
}

@media (max-width: 500px) {
  .WelcomeElements {
    margin: 20vh auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Background {
    height: 340px;
    width: 250px;
    border-radius: 20px 50px 20px 50px;
    right: -30px;
    margin: 0 0 10px 0;
  }
}
