.Modal {
  z-index: 500;
  position: fixed;
  left: 10%;
  top: 20%;
  background-color: white;
  width: 80%;
  max-width: 800px;
  max-height: 800px;
  padding: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}

.CloseIcon {
  position: absolute;
  top: -35px;
  right: -35px;
  height: 30px;
  width: auto;
  cursor: pointer;
}

.Content {
  text-align: center;
  width: auto;
  height: 100%;
}

.Content img {
  max-height: 500px;
  max-width: 100%;
  width: auto;
}

@media (min-width: 1000px) {
  .Modal {
    left: calc(50% - 400px);
  }
}
