.Skill {
  margin: auto;
  padding: 5% 20px 5% 20px;
}

.Skills p {
  font-size: 1.5em;
}

.TechSubsection {
  display: inline-flex;
}

.TechSubsection img {
  padding: 0 5px 0 5px;
  height: 60px;
  width: auto;
}

.TechSubsection h2 {
  padding: 0 0 2px 0;
}

.Hidden {
  display: hidden;
}

.Visible {
  visibility: visible;
}
