.Slider {
  position: relative;
  min-width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.Slide {
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  transition: 0.5s;
}

.SliderControl {
  cursor: pointer;
  text-align: center;
  position: absolute;
  background: none;
  top: 50%;
  width: 10%;
  height: 100%;
  transform: translateY(-50%);
}

.SliderControl img {
  position: relative;
  top: 45%;
  width: 3vw;
  height: auto;
}

.GoLeft {
  left: 0;
}

.GoRight {
  right: 0;
}

@media (hover: hover) {
  .SliderControl:hover {
    opacity: 0.3;
    background-color: seashell;
  }
}

@media (max-width: 450px) {
  .SliderControl {
    width: 5%;
  }
}
